.homeoage .ellipse-2 {
  filter: blur(90px);
  position: absolute;
  top: -284px;
  right: 221px;
  width: 858px;
  height: 1639px;
}
.homeoage .premium-vector-christmas-star-light-effect-for-vector-illustrations-removebg-preview-2 {
  background: url('../assets/images/premium_vector_christmas_star_light_effect_for_vector_illustrations_removebg_preview_1.png') 50% / cover no-repeat;
  position: absolute;
  left: 341px;
  top: -87px;
  width: 522px;
  height: 478px;
}
.homeoage .black-and-white-globe-y-2-kstreetwear-logo-removebg-preview-15 {
  background: url('../assets/images/black_and_white_globe_y_2_kstreetwear_logo_removebg_preview_16.png') 50% / cover no-repeat;
  align-self: flex-start;
  width: 160px;
  height: 124px;
}
.homeoage .login {
  align-self: flex-start;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 36px;
  color: #FFFFFF;
}
.homeoage .glad-youre-back {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .login-text {
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .username-1 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.homeoage .username {
  border-radius: 12px;
  border: 1px solid #FFFFFF;
  margin-bottom: 25px;
  padding: 13px 15px;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .password-1 {
  margin-right: 13.5px;
  width: 91px;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
}
.homeoage .vector {
  width: 14.7px;
  height: 7.3px;
}
.homeoage .closed-eye {
  margin: 11.2px 0 8.4px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.homeoage .password {
  border-radius: 12px;
  border: 1px solid #FFFFFF;
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 13px 16.7px 13px 15px;
  width: 400px;
  box-sizing: border-box;
}
.homeoage .vector-1 {
  width: 13.5px;
  height: 13.5px;
}
.homeoage .fluentcheckbox-checked-16-filled {
  margin: 4.3px 6.3px 4.3px 0;
  display: flex;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.homeoage .remember-me {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .remember {
  margin: 0 2.3px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .password-rem {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .login-2 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 600;
  font-size: 20px;
  color: #FFFFFF;
}
.homeoage .login-1 {
  border-radius: 12px;
  background: linear-gradient(90.57deg, #628EFF 9.9%, #8740CD 53.3%, #580475 91.6%);
  margin-bottom: 12px;
  display: flex;
  padding: 14px 0.6px 14px 0;
  width: 400px;
  box-sizing: border-box;
}
.homeoage .forgot-password {
  margin-left: 0.2px;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .login-bt-fp {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
}
.homeoage .credentials {
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .upper-section {
  margin-bottom: 47px;
  display: flex;
  flex-direction: column;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .line-1 {
  background: #4D4D4D;
  margin: 11px 20px 9px 0;
  width: 170px;
  height: 0px;
}
.homeoage .or-1 {
  margin-right: 20.6px;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 16px;
  color: #4D4D4D;
}
.homeoage .line-2 {
  background: #4D4D4D;
  margin: 11px 0 9px 0;
  width: 170px;
  height: 0px;
}
.homeoage .or {
  margin-bottom: 12px;
  display: flex;
  flex-direction: row;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .devicongoogle {
  width: 42px;
  height: 42px;
}
.homeoage .logosfacebook {
  width: 42px;
  height: 42px;
}
.homeoage .vector-9 {
  width: 42px;
  height: 41px;
}
.homeoage .bigithub {
  margin-bottom: 1px;
  display: flex;
  width: 42px;
  height: 42px;
  box-sizing: border-box;
}
.homeoage .frame-31 {
  display: flex;
  flex-direction: row;
  column-gap: 18px;
  width: 162px;
  box-sizing: border-box;
}
.homeoage .other-logins {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .frame-4 {
  margin-bottom: 101px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .dont-have-an-account-signup {
  margin: 0 0.3px 8px 0;
  display: inline-block;
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .terms-conditions {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .frame-6 {
  display: flex;
  box-sizing: border-box;
}
.homeoage .support {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .frame-7 {
  display: flex;
  box-sizing: border-box;
}
.homeoage .customer-care-1 {
  overflow-wrap: break-word;
  font-family: 'Noto Sans';
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}
.homeoage .frame-8 {
  display: flex;
  box-sizing: border-box;
}
.homeoage .customer-care {
  border-radius: 6px;
  background: linear-gradient(180deg, rgba(98, 98, 98, 0.14), rgba(98, 98, 98, 0.14));
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 4px 6.4px 4px 6px;
  width: 400px;
  box-sizing: border-box;
}
.homeoage .frame-9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  box-sizing: border-box;
}
.homeoage .frame-3 {
  backdrop-filter: blur(26.5px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: var(--glass-1-fill-carey, linear-gradient(321.23deg, rgba(191, 191, 191, 0.2) 6%, rgba(0, 0, 0, 0.2) 66.3%), linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)));
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
  padding: 97px 40px 47px 40px;
  width: fit-content;
  box-sizing: border-box;
}
.homeoage .container-1 {
  margin: 14px 320px 176px 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.homeoage .image-2-removebg-preview-1 {
  background: url('../assets/images/image_2_removebg_preview_1.png') 50% / cover no-repeat;
  width: 951px;
  height: 1110px;
}
.homeoage .container {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1853px;
  height: fit-content;
  box-sizing: border-box;
}
.homeoage {
  background: var(--gu, linear-gradient(180deg, #0F0F0F, #805E2B, #C28933, #E6A544));
  display: flex;
  padding-right: 68px;
  width: 1920px;
  box-sizing: border-box;
}
